Shrimoyee's ASSIGNMENT 1 : TASK1

1. 
Install Jupyter notebook and run the first program and share the screenshot of the output.

First Program in Jupyter notebook

In [10]:
#For Loop with else

Fruits = ["Mango","JackFruit","Orange","Grapes","Banana","Pineapple"]
for i in Fruits:
    print(i)
else:
    print("End of the list")

Mango
JackFruit
Orange
Grapes
Banana
Pineapple
End of the list

2. 
Write a program which will find all such numbers which are divisible by 7 but are not a multipleof 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [30]:
list =[]
for i in range(2000,3201):
    if ((i%7==0) and (i%5>0)):
        list.append(i)
print(list,sep = ",")

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

2.

Write a program which will find all such numbers which are divisible by 7 but are not a multipleof 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [40]:
#Another way to do it
str1=""
for i in range(2000,3201):
    if((i%7==0)and(i%5>0)):
        str1+=str(i)+","
    else:
        pass
newstr=""
for i in range(len(str1)-1):
    newstr+=str1[i]
print(newstr)

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

3.

Write a Python program to accept the user's first and last name and then getting them printed in
the reverse order with a space between first name and last name.

In [41]:
FName = input("FirstName: ")
LName = input("LastName: ")
print(LName+" "+FName)

FirstName: Shrimoyee
LastName: Biswas
Biswas Shrimoyee

In [44]:
FName = input("FirstName: ")
LName = input("LastName: ")
print (FName[::-1],'',LName[::-1])

FirstName: Shrimoyee
LastName: Biswas
eeyomirhS  sawsiB

4. 
Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r

In [46]:
import math
d = input("Sphere Diameter: ")
print("Volume: "+ str(4/3*math.pi*(int(d))**2))

Sphere Diameter: 12
Volume: 603.1857894892403

TASK 2

Q1.

Write a program which accepts a sequence of comma-separated numbers from console and
generate a list.

In [5]:
print("Enter number:")
str = input()
list_l = str.split(',')
print(list_l)

Enter number:
6,10,100
['6', '10', '100']

Q2.

Create the below pattern using nested for loop in Python.
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [3]:
starlen =input(" Enter Star length: ")
for i in range(int(starlen)):
    print(" * "*i)
for i in range(int(starlen)):
    print(" * "*(int(starlen)-i))

 Enter Star length: 5

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

Q3.

Write a Python program to reverse a word after accepting the input from the user.
Sample Output:
Input word: AcadGild
Output: dilGdacA

In [6]:
print("Enter the word:")
str = input()
for i in range(len(str)):
    print(str[-i-1],end="")

Enter the word:
AcadGild
dliGdacA

Q4.

Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens
Sample Output:
WE, THE PEOPLE OF INDIA,
      having solemnly resolved to constitute India into a SOVEREIGN, !
             SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
              and to secure to all its citizens

In [8]:
print("WE, THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN, !\n\t\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC\n\t\t and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN, !
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens